---
export function getStaticPaths() {
  return [
    {params: {articleType: 'noticias'}},
    {params: {articleType: 'analisis'}},
    {params: {articleType: 'articulos'}},
  ];
}

const { articleType } = Astro.params;

import {getArticlesByType} from "../lib/api.js"

const articles = await getArticlesByType(articleType)
import Layout from "../layouts/Layout.astro"
import Article from '../components/Article.astro'
---

<Layout title={articleType}>
        <main>
            <h1>{articleType.toUpperCase()}</h1>
            <ul>
                {articles.map((articulo) => (
                    <Article article={articulo}/>
                ))}
        </ul>
    </main>
</Layout>
