---
import Layout from '../layouts/Layout.astro';
import { getArticles } from '../lib/api';
import Article from "../components/Article.astro"

const articles = await getArticles()
---

<Layout title="Welcome to Astro.">
	<main>
		<ul>
			{articles.map((articulo) =>(
				<Article article={articulo}/>
			))}
		</ul>
	</main>
</Layout>
