---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Política de privacidad | Taberna Precursor" description="Politica de privacidad, Taberna Precursor.">
    <main class="flex flex-col gap-4">
        <h1 class="text-3xl mt-4">PROTECCIÓN DE DATOS DE CARÁCTER PERSONAL</h1>
            <p>En cumplimiento de la Ley Orgánica 15/1999, de 13 de diciembre, sobre Protección de Datos de Carácter Personal (LOPD), Taberna Precursor informa a los usuarios de que:</p>
            <p>Los datos personales que proporcione se entregarán voluntariamente para acceder a los servicios solicitados y con las finalidades descritas a continuación o específicamente en el formulario de recogida.</p>
            <p>En el caso de que la información que nos facilite no sea veraz o usted no sea su titular o representante autorizado, Taberna Precursor se reserva el derecho de cancelar sus datos proporcionados, así como ejercer las acciones legales que pudieran corresponderle con objeto de compensar las posibles responsabilidades a las que tenga que hacer frente como consecuencia del tratamiento de la información facilitada.</p>
            <p>De acuerdo con la legislación vigente, los datos recabados se incluirán en un fichero del cual es titular Taberna Precursor el cual ha sido debidamente inscrito ante la Agencia Española de Protección de Datos (AEPD) para su consulta.</p>
        <h2 class="text-xl">Datos de Carácter personal no solicitados</h2>
            <p>En el caso de recibir datos de carácter personal no solicitados mediante correo electrónico u otro medio, Taberna Precursor los incluirá en el fichero correspondiente y con la finalidad para la que se haya recibido:</p>
            <p>En caso de solicitud de información estos se incluirán en el fichero “USUARIOS WEB” para responder a la solicitud planteada y posteriores comunicaciones.</p>
            <p>En caso de envío de currículum vitae estos serán incluidos en el fichero de “RECURSOS HUMANOS” para su evaluación en posibles procesos de selección de personal. Y serán conservados durante al menos un año desde su recepción. Si las circunstancias incluidas en el mismo fueran modificadas, le rogamos nos mantenga informados. Mientras tanto, consideraremos que los datos incluidos en el mismo son actuales.</p>
            <p>En el resto de casos serán incluidos en el fichero correspondiente y el solicitante informado respecto del tratamiento mediante correo electrónico.</p>
        <h2 class="text-xl">Dirección IP</h2>
            <p>Si accedes a Taberna Precursor, por motivos de seguridad, almacenaremos de forma automatizada la dirección IP desde la que accedes, permitiéndonos prevenir o detectar usos no autorizados o actividades ilegales (ataques a nuestros sistemas, etc.) dentro de la misma.</p>
        <h2 class="text-xl">Comunicación o cesión de datos(s)</h2>
            <p>Taberna Precursor nunca cederá o comunicará sus datos personales a terceros excepto bajo su consentimiento.</p>
        <h2 class="text-xl">Compromiso de Taberna Precursor</h2>
            <p>Taberna Precursor se compromete al cumplimiento de su obligación de secreto de los datos de carácter personal que usted nos pudiera facilitar y de su deber de guardarlos y adoptará las medidas necesarias para evitar su alteración, pérdida, tratamiento o acceso no autorizado, de acuerdo con lo establecido por el Real Decreto 1720/2007, de 21 de diciembre, por el que se aprueba el Reglamento de Desarrollo de la LOPD.</p>
        <h2 class="text-xl">Comunicaciones comerciales</h2>
            <p>En virtud de lo establecido en la Ley 34/2002, de 11 de julio, de Servicios de la Sociedad de la Información y de Comercio Electrónico, y en el caso de que haya facilitado su dirección de correo electrónico a Taberna Precursor, Taberna Precursor le informa de que podrá utilizarla para mantenerle informado de sus novedades comerciales, de sus distintas ofertas promocionales, tanto propias como de las empresas que anuncian sus servicios en Taberna Precursor y de otras empresas relacionadas con los contenidos ofrecidos por Taberna Precursor relacionadas con los sectores editorial, automoción, informática, tecnología, telecomunicaciones, electrónica, videojuegos, seguros, financiero y crédito, infancia y puericultura, alimentación, formación y educación, hogar, salud y productos farmacéuticos, ocio, gran consumo, cuidado personal, agua, energía y transportes, turismo y viajes, inmobiliario, juguetería, textil, ONG y productos/servicios para animales y mascotas.</p>
            <p>Usted da su consentimiento expreso para que Taberna Precursor pueda utilizar su dirección de correo electrónico con este fin concreto. Si no desea que se usen para estos fines, comuníquelo enviando un email a la dirección: press@tabernaprecursor.com.</p>
        <h2 class="text-xl">Ejercicio de los derechos</h2>
            <p>Usted podrá ejercitar en cualquier momento los derechos de acceso, rectificación, oposición y eliminación total de sus datos, mediante solicitud escrita y firmada dirigida a Taberna Precursor a la siguiente dirección de correo electrónico: marketing@tabernaprecursor.com.</p>
        <h2 class="text-xl">DISPOSITIVOS DE ALMACENAMIENTO Y RECUPERACIÓN DE DATOS “COOKIES”</h2>
            <p>Taberna Precursor almacena cierta información de su navegador usando cookies. Una cookie es un pequeño dato almacenado en el ordenador del usuario que contiene información sobre ese usuario. Taberna Precursor Utiliza cookies de identificación de sesión para confirmar que los usuarios están conectados. Estas cookies se desactivan cuando el usuario cierra el navegador. Por defecto usamos cookies permanentes que almacenan su código de usuario (no su contraseña) para facilitarle la conexión cuando vuelva a entrar.</p>
            <p>Si quiere deshabilitar esta función, puede bloquear o eliminar esta cookie utilizando la configuración de su navegador.</p>
    </main>
</Layout>