---
import ArticleList from "./articleCollection/ArticleList.astro"
import ArticleListSkeleton from "./loader/ArticleListSkeleton.astro"
const {entries} = Astro.props
---

<main class="mt-24">
  {entries ? 
    <ArticleList entries={entries}/>
    : <ArticleListSkeleton/>
}
</main>