<footer>
    <h3>Título de la web</h3>
    <nav>
    <section>
    <h4>Contenido</h4>
    <ul>
        <a href="/" title="Inicio">Inicio</a>
        <a href="/noticias" title="Noticias">Noticias</a>
        <a href="analisis" title="Análisis">Análisis</a>
        <a href="/articulos" title="Artículos">Artículos</a>
        <a>Sitemap</a>
    </ul>
</section>
<section>
    <h4>Contacto</h4>
    <ul>
        <a>Contacto</a>
        <a>contacto@contacto.com</a>
        <a>Publicidad</a>
        <a>Staff</a>
        <a>Linkedin</a>
        <a>Github</a>
    </ul>
</section>
</nav>
    <p>@RafaCanosa. 2024 | Todos los derechos reservados.</p>
</footer>

<style>
    footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        border-bottom: 2px solid #6ADFCD;
    }
    nav{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: start;
        gap: 2rem;
    }
    ul{
        display: flex;
        flex-direction: column;
    }
    section{
        display: flex;
        flex-direction: column;
    }
    a{
        cursor: pointer;
    }
</style>
