<footer class="bg-black py-8">
    <a class="text-xl font-semibold text-white flex items-center gap-4" href="/" title="Inicio">
        <img src='/favicon.avif' width='40px' alt='Webstite logo' />Taberna Precursor
      </a>
    <nav class="menu bg-black p-4 rounded-md mt-4">
        <section class="menu-section">
            <span class="menu-title">Contenido</span>
            <ul class="menu-items">
                <a href="/" title="Inicio" class="menu-item">
                    <span>Inicio</span>
                </a>
                <a href="/noticias" title="Noticias" class="menu-item">
                    <span>Noticias</span>
                </a>
                <a href="/analisis" title="Análisis" class="menu-item">
                    <span>Análisis</span>
                </a>
                <a href="/articulos" title="Artículos" class="menu-item">
                    <span>Artículos</span>
                </a>
                <li class="menu-item">
                    <a href="/sitemap-index.xml" title="Sitemap index">
                        <span>Sitemap</span>
                    </a>
                </li>
            </ul>
        </section>
        <section class="menu-section">
            <span class="menu-title">Contacto</span>
            <ul class="menu-items">
                <li class="menu-item">
                    <a href="/equipo" title="Equipo">
                        <span>Equipo</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="mailto:rafacv23@gmail.com" title="Email">
                        <span>rafacv23@gmail.com</span>
                    </a>
                </li>
                <li class="menu-item">
                    <span>Publicidad</span>
                </li>
                <li class="menu-item">
                    <a href="https://www.linkedin.com/in/rafa-canosa-vallejo-6328a5194/" title="Linkedin">                    
                        <span>Linkedin</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="https://github.com/Rafacv23" title="Github">
                        <span>Github</span>
                    </a>
                </li>
            </ul>
        </section>
    </nav>
</footer>

<style>
    footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        border-top: 2px solid #6ADFCD;
        margin-top: 4rem;
        color: white;
    }
    nav{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: start;
        gap: 2rem;
    }
    ul{
        display: flex;
        flex-direction: column;
    }
    section{
        display: flex;
        flex-direction: column;
    }
    a{
        cursor: pointer;
    }
</style>
