<header>
    <a href="/" title="Inicio">Inicio</a>
    <a href="/noticias" title="Noticias">Noticias</a>
    <a href="/analisis" title="Análisis">Análisis</a>
    <a href="/articulos" title="Artículos">Artículos</a>
</header>

<style>
    header{
        display: flex;
        gap: 2rem;
        align-items: center;
        justify-content: center;
        padding: 1rem;
    }
</style>