<div class="navbar navbar-glass navbar-sticky">
	<div class="navbar-start">
        <a class="link link-ghost-warning" href="/">Inicio</a>
        <a class="link link-ghost-warning" href="/noticias">Noticias</a>
        <a class="link link-ghost-warning" href="/analisis">Análisis</a>
        <a class="link link-ghost-warning" href="/articulos">Artículos</a>
	</div>
	<div class="md:navbar-center">
        <input class="input input-solid" placeholder="Buscar" type="text" name="search" id="search" autocomplete="off" />
        <button id="search-btn" class="btn btn-solid-primary">Buscar</button>
	</div>
    <div class="md:navbar-end"></div>
</div>

<script>
        function buscar() {
            const searchInput = document.getElementById("search");
            const query = searchInput.value.trim();
            if (query) {
                    // Handle redirection here
                    window.location.href = `/search/${encodeURIComponent(query)}`;
                } else {
                    console.error("No se encontraron resultados para la búsqueda:", query);
                    // You can display an error message or take another action as needed
                }
            }
        
    
        const $searchBtn = document.getElementById("search-btn");
        $searchBtn.addEventListener("click", buscar);
    </script>