---
const { pageNum } = Astro.params;

import Layout from "../../layouts/Layout.astro"
import Article from '../../components/Article.astro'
import {getArticlesByPage} from '../../lib/api.js'
import PageControls from "../../components/PageControls.astro";

const articles = await getArticlesByPage(pageNum)
---

<Layout title={`Nombre del sitio`}>
  <main>
        <ul>
            {articles.map((article) => (
                <Article article={article}/>
            ))}
        </ul>
        <PageControls pageNum={pageNum}/>
    </main>
</Layout>
